


// Your variable overrides
$body-bg: #ECE3CA;
$body-color: #111;

$theme-colors: (
  "primary": #a4cbb4,
  "danger": #ef9995,
  // dc8850 orange
  
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";